.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 40px;
}

.photo_container {
    width: 50%;
    height: 50%;
    position: relative;
    margin-right: 10px;
}

/* rotate title diagonally */
.photo_container p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;

}

/* dropdown shadow with rounded border */
.photo_container img {
    border-radius: 15px;
    border: 5px solid black;
    filter: drop-shadow(.5rem .5rem 1rem grey);
}

.shuffle_button {
    background-color: greenyellow;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: auto;
}

.shuffle_button:hover {
    color: white;
    background-color: green;
}

.carousel_buttons {
    display: flex;
    justify-content: center;
  }
